<div id="stage" class="lunch paT0" style="position:relative">
	<table>
		<tr>
			<td>Twitterで認証</td>
			<td>Facebookで認証</td>
		</tr>
	</table>
	<a href="/auth/twitter" class="">
		<img src="../img/01_platform/twitter/twitter_logo_blue.png" alt="" width="40%;" height="40%;">
	</a>
	<a href="/auth/facebook" class="">
		<img src="../img/01_platform/facebook/fb_logo_blue.png" alt="" width="25%;" height="25%;">
	</a>
</div>