<div id="contents">
	<div id="main">
		<h2>店舗一覧</h2>
		<input type="button" class="add_button" value="新規登録" onClick="location.href='/studio/add'">
		<div id="shopList">
			<ul>
				<% _.each(studioAreaList, function(studioArea) { %>
					<li>
						<span><%= studioArea.name %></span>
						<input type="button" class="edit_button" value="編集" onClick="location.href='/studio/edit'">
						<input type="button" class="delete_button" value="削除" onClick="location.href='/studio/delete'">
					</li>
				<% }); %>
			</ul>
		</div>
	</div>
</div>