<div id="contents">
	<div id="main">
		<h2>ユーザー情報</h2>
		<input type="button" class="add_button" value="編集" onClick="location.href='userEdit.html'">
		<table class="user_info">
	    <tbody>
	        <tr>
	            <th class="arrow_box">会社名</div></th>
	            <td>studio worcle</td>
	        </tr>
	        <tr>
	            <th>ID</th>
	            <td>
	                studio_worcle
	            </td>
	        </tr>
	        <tr>
	            <th>代表電話</th>
	            <td>
	                03-1234-5678
	            </td>
	        </tr>
	        <tr>
	            <th class="arrow_box">メールアドレス</th>
	            <td>
	                worcle.co.jp
	            </td>
	        </tr>
	    </tbody>
	</table>		
	</div>
</div>