<div id="contents">
	<div id="main">
		<h2>店舗追加</h2>
	    <div id="form">
	        <form action="/calendar/regist/execute" method="POST" name="form" accept-charset="utf-8">
				<h4>店舗名</h4>
				<input type="text" name="studioArea" value="vintom"></input>
				<h4>電話番号</h4>
				<input type="tel" name="tel" value="08012345678"></input>
				<h4>最寄駅</h4>
				<textarea name="studioStation" rows="4" cols="40"></textarea>
				<h4>住所</h4>
				<textarea name="studioAddress" rows="4" cols="40"></textarea>
				<h4>お支払い方法</h4>
				<textarea name="studioPayment" rows="4" cols="40"></textarea>
				<h4>備考</h4>
				<textarea name="studioRemarks" rows="4" cols="40"></textarea>
			</form>
		</div>
	    <!-- キャンセルボタン -->
	    <a class="remodal-cancel" href="/studio" data-remodal-action="cancel">戻る</a>
	    <!-- OKボタン -->
        <a href="javascript:void(0)" onclick="document.form.submit();return false;" class="remodal-confirm" data-remodal-action="confirm" style="display:inline-block">OK</a>
	</div>
</div>