<div id="stage" class="lunch" style="position:relative">
	<form method="post" action="/admin/upload/execute" enctype="multipart/form-data" accept-charset="utf-8">
		<p>入稿<br>
		<input type="file" name="thumbnail">
		<input type="submit" value="入稿する">
	</form>
</div>