<div class="color_red ma0a w290">
    <br>【注意事項】<br>
    <hr>
    <div class="size_ss left" style="padding-left: 10px">
        <p style="text-indent: -10px">・予約可能期間はAM9:00〜AM11:59の間です。</p>
        <p style="text-indent: -10px">・予約できるお弁当は1種類につき3つまでです。(※欲張り厳禁)</p>
        <p style="text-indent: -10px">・何か事件が起きた際は、下記メールアドレスにご連絡下さい。</p>
        <p>[cho_takumi@grenge.co.jp]</p>
    </div>
</div>