<div id="top">
	<section class="hero">
		<!-- <section class="caption">
			<h2 class="caption">Make The World For Dancers</h2>
		</section> -->
	</section>	
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <ul class="legals">
          <li><a href="#">Terms &amp; Conditions</a></li>
          <li><a href="#">Legals</a></li>
        </ul>
      </div>
      <div class="col-md-6 credit">
        <p>Designed &amp; Developed by <a href="http://vintom.co.jp/" target="_blank">Vintom</a> </p>
      </div>
    </div>
  </div>
</footer>