<div id="stage" class="lunch paT0" style="position:relative">
    <div class="lunch_gorilla_logo">
        <img src="../img/99_lunch/logo_001.png" alt="" width="50%;" height="50%;">
    </div>
	<a href="/top" class="buttonL back_button maB10">注文する</a>
</div>
