<div id="top">
	<section class="hero">
		<section class="caption">
			<h2 class="caption">Make The World For Dancers</h2>
		</section>
	</section>	
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <ul class="legals">
          <li><a href="#">Terms &amp; Conditions</a></li>
          <li><a href="#">Legals</a></li>
        </ul>
      </div>
      <div class="col-md-6 credit">
        <p>Designed &amp; Developed by <a href="http://www.peterfinlan.com/">Peter Finlan</a> exclusively for <a href="http://tympanus.net/codrops/"><em>Codrops</em></a></p>
      </div>
    </div>
  </div>
</footer>