@charset "UTF-8";


/* line 65, ../scss/_inc/_core/_layer.scss */
#layer-container {
  position: relative;
}

/*--------------------
マージン・パディングのクラス
--------------------*/
/* line 5, ../scss/_inc/_core/_metrix.scss */
.ma0 {
  margin: 0px !important;
}

/* line 8, ../scss/_inc/_core/_metrix.scss */
.maT0 {
  margin-top: 0px !important;
}

/* line 11, ../scss/_inc/_core/_metrix.scss */
.maB0 {
  margin-bottom: 0px !important;
}

/* line 14, ../scss/_inc/_core/_metrix.scss */
.maL0 {
  margin-left: 0px !important;
}

/* line 17, ../scss/_inc/_core/_metrix.scss */
.maR0 {
  margin-right: 0px !important;
}

/* line 20, ../scss/_inc/_core/_metrix.scss */
.pa0 {
  padding: 0px !important;
}

/* line 23, ../scss/_inc/_core/_metrix.scss */
.paT0 {
  padding-top: 0px !important;
}

/* line 26, ../scss/_inc/_core/_metrix.scss */
.paB0 {
  padding-bottom: 0px !important;
}

/* line 29, ../scss/_inc/_core/_metrix.scss */
.paL0 {
  padding-left: 0px !important;
}

/* line 32, ../scss/_inc/_core/_metrix.scss */
.paR0 {
  padding-right: 0px !important;
}

/* line 5, ../scss/_inc/_core/_metrix.scss */
.ma1 {
  margin: 1px !important;
}

/* line 8, ../scss/_inc/_core/_metrix.scss */
.maT1 {
  margin-top: 1px !important;
}

/* line 11, ../scss/_inc/_core/_metrix.scss */
.maB1 {
  margin-bottom: 1px !important;
}

/* line 14, ../scss/_inc/_core/_metrix.scss */
.maL1 {
  margin-left: 1px !important;
}

/* line 17, ../scss/_inc/_core/_metrix.scss */
.maR1 {
  margin-right: 1px !important;
}

/* line 20, ../scss/_inc/_core/_metrix.scss */
.pa1 {
  padding: 1px !important;
}

/* line 23, ../scss/_inc/_core/_metrix.scss */
.paT1 {
  padding-top: 1px !important;
}

/* line 26, ../scss/_inc/_core/_metrix.scss */
.paB1 {
  padding-bottom: 1px !important;
}

/* line 29, ../scss/_inc/_core/_metrix.scss */
.paL1 {
  padding-left: 1px !important;
}

/* line 32, ../scss/_inc/_core/_metrix.scss */
.paR1 {
  padding-right: 1px !important;
}

/* line 5, ../scss/_inc/_core/_metrix.scss */
.ma3 {
  margin: 3px !important;
}

/* line 8, ../scss/_inc/_core/_metrix.scss */
.maT3 {
  margin-top: 3px !important;
}

/* line 11, ../scss/_inc/_core/_metrix.scss */
.maB3 {
  margin-bottom: 3px !important;
}

/* line 14, ../scss/_inc/_core/_metrix.scss */
.maL3 {
  margin-left: 3px !important;
}

/* line 17, ../scss/_inc/_core/_metrix.scss */
.maR3 {
  margin-right: 3px !important;
}

/* line 20, ../scss/_inc/_core/_metrix.scss */
.pa3 {
  padding: 3px !important;
}

/* line 23, ../scss/_inc/_core/_metrix.scss */
.paT3 {
  padding-top: 3px !important;
}

/* line 26, ../scss/_inc/_core/_metrix.scss */
.paB3 {
  padding-bottom: 3px !important;
}

/* line 29, ../scss/_inc/_core/_metrix.scss */
.paL3 {
  padding-left: 3px !important;
}

/* line 32, ../scss/_inc/_core/_metrix.scss */
.paR3 {
  padding-right: 3px !important;
}

/* line 5, ../scss/_inc/_core/_metrix.scss */
.ma5 {
  margin: 5px !important;
}

/* line 8, ../scss/_inc/_core/_metrix.scss */
.maT5 {
  margin-top: 5px !important;
}

/* line 11, ../scss/_inc/_core/_metrix.scss */
.maB5 {
  margin-bottom: 5px !important;
}

/* line 14, ../scss/_inc/_core/_metrix.scss */
.maL5 {
  margin-left: 5px !important;
}

/* line 17, ../scss/_inc/_core/_metrix.scss */
.maR5 {
  margin-right: 5px !important;
}

/* line 20, ../scss/_inc/_core/_metrix.scss */
.pa5 {
  padding: 5px !important;
}

/* line 23, ../scss/_inc/_core/_metrix.scss */
.paT5 {
  padding-top: 5px !important;
}

/* line 26, ../scss/_inc/_core/_metrix.scss */
.paB5 {
  padding-bottom: 5px !important;
}

/* line 29, ../scss/_inc/_core/_metrix.scss */
.paL5 {
  padding-left: 5px !important;
}

/* line 32, ../scss/_inc/_core/_metrix.scss */
.paR5 {
  padding-right: 5px !important;
}

/* line 5, ../scss/_inc/_core/_metrix.scss */
.ma8 {
  margin: 8px !important;
}

/* line 8, ../scss/_inc/_core/_metrix.scss */
.maT8 {
  margin-top: 8px !important;
}

/* line 11, ../scss/_inc/_core/_metrix.scss */
.maB8 {
  margin-bottom: 8px !important;
}

/* line 14, ../scss/_inc/_core/_metrix.scss */
.maL8 {
  margin-left: 8px !important;
}

/* line 17, ../scss/_inc/_core/_metrix.scss */
.maR8 {
  margin-right: 8px !important;
}

/* line 20, ../scss/_inc/_core/_metrix.scss */
.pa8 {
  padding: 8px !important;
}

/* line 23, ../scss/_inc/_core/_metrix.scss */
.paT8 {
  padding-top: 8px !important;
}

/* line 26, ../scss/_inc/_core/_metrix.scss */
.paB8 {
  padding-bottom: 8px !important;
}

/* line 29, ../scss/_inc/_core/_metrix.scss */
.paL8 {
  padding-left: 8px !important;
}

/* line 32, ../scss/_inc/_core/_metrix.scss */
.paR8 {
  padding-right: 8px !important;
}

/* line 5, ../scss/_inc/_core/_metrix.scss */
.ma10 {
  margin: 10px !important;
}

/* line 8, ../scss/_inc/_core/_metrix.scss */
.maT10 {
  margin-top: 10px !important;
}

/* line 11, ../scss/_inc/_core/_metrix.scss */
.maB10 {
  margin-bottom: 10px !important;
}

/* line 14, ../scss/_inc/_core/_metrix.scss */
.maL10 {
  margin-left: 10px !important;
}

/* line 17, ../scss/_inc/_core/_metrix.scss */
.maR10 {
  margin-right: 10px !important;
}

/* line 20, ../scss/_inc/_core/_metrix.scss */
.pa10 {
  padding: 10px !important;
}

/* line 23, ../scss/_inc/_core/_metrix.scss */
.paT10 {
  padding-top: 10px !important;
}

/* line 26, ../scss/_inc/_core/_metrix.scss */
.paB10 {
  padding-bottom: 10px !important;
}

/* line 29, ../scss/_inc/_core/_metrix.scss */
.paL10 {
  padding-left: 10px !important;
}

/* line 32, ../scss/_inc/_core/_metrix.scss */
.paR10 {
  padding-right: 10px !important;
}

/* line 5, ../scss/_inc/_core/_metrix.scss */
.ma15 {
  margin: 15px !important;
}

/* line 8, ../scss/_inc/_core/_metrix.scss */
.maT15 {
  margin-top: 15px !important;
}

/* line 11, ../scss/_inc/_core/_metrix.scss */
.maB15 {
  margin-bottom: 15px !important;
}

/* line 14, ../scss/_inc/_core/_metrix.scss */
.maL15 {
  margin-left: 15px !important;
}

/* line 17, ../scss/_inc/_core/_metrix.scss */
.maR15 {
  margin-right: 15px !important;
}

/* line 20, ../scss/_inc/_core/_metrix.scss */
.pa15 {
  padding: 15px !important;
}

/* line 23, ../scss/_inc/_core/_metrix.scss */
.paT15 {
  padding-top: 15px !important;
}

/* line 26, ../scss/_inc/_core/_metrix.scss */
.paB15 {
  padding-bottom: 15px !important;
}

/* line 29, ../scss/_inc/_core/_metrix.scss */
.paL15 {
  padding-left: 15px !important;
}

/* line 32, ../scss/_inc/_core/_metrix.scss */
.paR15 {
  padding-right: 15px !important;
}

/* line 5, ../scss/_inc/_core/_metrix.scss */
.ma20 {
  margin: 20px !important;
}

/* line 8, ../scss/_inc/_core/_metrix.scss */
.maT20 {
  margin-top: 20px !important;
}

/* line 11, ../scss/_inc/_core/_metrix.scss */
.maB20 {
  margin-bottom: 20px !important;
}

/* line 14, ../scss/_inc/_core/_metrix.scss */
.maL20 {
  margin-left: 20px !important;
}

/* line 17, ../scss/_inc/_core/_metrix.scss */
.maR20 {
  margin-right: 20px !important;
}

/* line 20, ../scss/_inc/_core/_metrix.scss */
.pa20 {
  padding: 20px !important;
}

/* line 23, ../scss/_inc/_core/_metrix.scss */
.paT20 {
  padding-top: 20px !important;
}

/* line 26, ../scss/_inc/_core/_metrix.scss */
.paB20 {
  padding-bottom: 20px !important;
}

/* line 29, ../scss/_inc/_core/_metrix.scss */
.paL20 {
  padding-left: 20px !important;
}

/* line 32, ../scss/_inc/_core/_metrix.scss */
.paR20 {
  padding-right: 20px !important;
}

/* line 5, ../scss/_inc/_core/_metrix.scss */
.ma100 {
  margin: 100px !important;
}

/* line 8, ../scss/_inc/_core/_metrix.scss */
.maT100 {
  margin-top: 100px !important;
}

/* line 11, ../scss/_inc/_core/_metrix.scss */
.maB100 {
  margin-bottom: 100px !important;
}

/* line 14, ../scss/_inc/_core/_metrix.scss */
.maL100 {
  margin-left: 100px !important;
}

/* line 17, ../scss/_inc/_core/_metrix.scss */
.maR100 {
  margin-right: 100px !important;
}

/* line 20, ../scss/_inc/_core/_metrix.scss */
.pa100 {
  padding: 100px !important;
}

/* line 23, ../scss/_inc/_core/_metrix.scss */
.paT100 {
  padding-top: 100px !important;
}

/* line 26, ../scss/_inc/_core/_metrix.scss */
.paB100 {
  padding-bottom: 100px !important;
}

/* line 29, ../scss/_inc/_core/_metrix.scss */
.paL100 {
  padding-left: 100px !important;
}

/* line 32, ../scss/_inc/_core/_metrix.scss */
.paR100 {
  padding-right: 100px !important;
}

/* line 38, ../scss/_inc/_core/_metrix.scss */
.ma-1 {
  margin: -1px !important;
}

/* line 41, ../scss/_inc/_core/_metrix.scss */
.maT-1 {
  margin-top: -1px !important;
}

/* line 44, ../scss/_inc/_core/_metrix.scss */
.maB-1 {
  margin-bottom: -1px !important;
}

/* line 47, ../scss/_inc/_core/_metrix.scss */
.maL-1 {
  margin-left: -1px !important;
}

/* line 50, ../scss/_inc/_core/_metrix.scss */
.maR-1 {
  margin-right: -1px !important;
}

/* line 38, ../scss/_inc/_core/_metrix.scss */
.ma-2 {
  margin: -2px !important;
}

/* line 41, ../scss/_inc/_core/_metrix.scss */
.maT-2 {
  margin-top: -2px !important;
}

/* line 44, ../scss/_inc/_core/_metrix.scss */
.maB-2 {
  margin-bottom: -2px !important;
}

/* line 47, ../scss/_inc/_core/_metrix.scss */
.maL-2 {
  margin-left: -2px !important;
}

/* line 50, ../scss/_inc/_core/_metrix.scss */
.maR-2 {
  margin-right: -2px !important;
}

/* line 38, ../scss/_inc/_core/_metrix.scss */
.ma-3 {
  margin: -3px !important;
}

/* line 41, ../scss/_inc/_core/_metrix.scss */
.maT-3 {
  margin-top: -3px !important;
}

/* line 44, ../scss/_inc/_core/_metrix.scss */
.maB-3 {
  margin-bottom: -3px !important;
}

/* line 47, ../scss/_inc/_core/_metrix.scss */
.maL-3 {
  margin-left: -3px !important;
}

/* line 50, ../scss/_inc/_core/_metrix.scss */
.maR-3 {
  margin-right: -3px !important;
}

/* line 38, ../scss/_inc/_core/_metrix.scss */
.ma-5 {
  margin: -5px !important;
}

/* line 41, ../scss/_inc/_core/_metrix.scss */
.maT-5 {
  margin-top: -5px !important;
}

/* line 44, ../scss/_inc/_core/_metrix.scss */
.maB-5 {
  margin-bottom: -5px !important;
}

/* line 47, ../scss/_inc/_core/_metrix.scss */
.maL-5 {
  margin-left: -5px !important;
}

/* line 50, ../scss/_inc/_core/_metrix.scss */
.maR-5 {
  margin-right: -5px !important;
}

/* line 38, ../scss/_inc/_core/_metrix.scss */
.ma-8 {
  margin: -8px !important;
}

/* line 41, ../scss/_inc/_core/_metrix.scss */
.maT-8 {
  margin-top: -8px !important;
}

/* line 44, ../scss/_inc/_core/_metrix.scss */
.maB-8 {
  margin-bottom: -8px !important;
}

/* line 47, ../scss/_inc/_core/_metrix.scss */
.maL-8 {
  margin-left: -8px !important;
}

/* line 50, ../scss/_inc/_core/_metrix.scss */
.maR-8 {
  margin-right: -8px !important;
}

/* line 38, ../scss/_inc/_core/_metrix.scss */
.ma-10 {
  margin: -10px !important;
}

/* line 41, ../scss/_inc/_core/_metrix.scss */
.maT-10 {
  margin-top: -10px !important;
}

/* line 44, ../scss/_inc/_core/_metrix.scss */
.maB-10 {
  margin-bottom: -10px !important;
}

/* line 47, ../scss/_inc/_core/_metrix.scss */
.maL-10 {
  margin-left: -10px !important;
}

/* line 50, ../scss/_inc/_core/_metrix.scss */
.maR-10 {
  margin-right: -10px !important;
}

/* line 38, ../scss/_inc/_core/_metrix.scss */
.ma-15 {
  margin: -15px !important;
}

/* line 41, ../scss/_inc/_core/_metrix.scss */
.maT-15 {
  margin-top: -15px !important;
}

/* line 44, ../scss/_inc/_core/_metrix.scss */
.maB-15 {
  margin-bottom: -15px !important;
}

/* line 47, ../scss/_inc/_core/_metrix.scss */
.maL-15 {
  margin-left: -15px !important;
}

/* line 50, ../scss/_inc/_core/_metrix.scss */
.maR-15 {
  margin-right: -15px !important;
}

/* line 38, ../scss/_inc/_core/_metrix.scss */
.ma-20 {
  margin: -20px !important;
}

/* line 41, ../scss/_inc/_core/_metrix.scss */
.maT-20 {
  margin-top: -20px !important;
}

/* line 44, ../scss/_inc/_core/_metrix.scss */
.maB-20 {
  margin-bottom: -20px !important;
}

/* line 47, ../scss/_inc/_core/_metrix.scss */
.maL-20 {
  margin-left: -20px !important;
}

/* line 50, ../scss/_inc/_core/_metrix.scss */
.maR-20 {
  margin-right: -20px !important;
}

/* line 55, ../scss/_inc/_core/_metrix.scss */
.ma0a {
  margin: 0px auto;
}

/* line 58, ../scss/_inc/_core/_metrix.scss */
.ma0aB1 {
  margin: 0px auto 1px;
}

/* line 61, ../scss/_inc/_core/_metrix.scss */
.ma0aB3 {
  margin: 0px auto 3px;
}

/* line 64, ../scss/_inc/_core/_metrix.scss */
.ma0aB5 {
  margin: 0px auto 5px;
}

/* line 67, ../scss/_inc/_core/_metrix.scss */
.ma0aB8 {
  margin: 0px auto 8px;
}

/* line 70, ../scss/_inc/_core/_metrix.scss */
.ma0aB10 {
  margin: 0px auto 10px;
}

/* line 75, ../scss/_inc/_core/_metrix.scss */
.wrap {
  letter-spacing: -7px;
}
/* line 77, ../scss/_inc/_core/_metrix.scss */
.wrap div, .wrap a, .wrap ul, .wrap li, .wrap table, .wrap tr, .wrap td, .wrap img {
  letter-spacing: normal;
}

/* ■　変数設定 ■----------------------------------------------------------- */
/* css Reset ----------------------------------------------------------- */
/* line 43, ../scss/_inc/_core/_general_setting.scss */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: Helvetica, Arial, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'モリサワ 新ゴ R', 'Droid Sans', メイリオ, 'sans-serif';
  font-size: 13px;
  font-weight: bold;
  /*    -webkit-tap-highlight-color:transparent;*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 61, ../scss/_inc/_core/_general_setting.scss */
html, body, #pics, #loading, #app_top, .show-content {
  background-color: #fff8e7;
  text-align: center;
}

/* line 65, ../scss/_inc/_core/_general_setting.scss */
html {
  background-attachment: fixed;
}

/* line 68, ../scss/_inc/_core/_general_setting.scss */
body {
  width: 320px;
  margin: 0px auto;
  color: #382200;
  line-height: 1.4;
  background: url(../img/03_ui/ui_bg/ui_bg_044.jpg);
  background-size: 320px 93px;
  background-repeat: repeat-y;
  background-position-x: 50%;
  background-position-y: 566px;
}

/* line 79, ../scss/_inc/_core/_general_setting.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 83, ../scss/_inc/_core/_general_setting.scss */
nav ul {
  list-style: none;
}

/* line 86, ../scss/_inc/_core/_general_setting.scss */
blockquote, q {
  quotes: none;
}

/* line 89, ../scss/_inc/_core/_general_setting.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 93, ../scss/_inc/_core/_general_setting.scss */
a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
  color: #382200;
  text-decoration: none;
  /*underline*/
}

/* line 101, ../scss/_inc/_core/_general_setting.scss */
ul, ol, dl, dd {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

/* line 112, ../scss/_inc/_core/_general_setting.scss */
table {
  border-collapse: collapse;
}

/* line 115, ../scss/_inc/_core/_general_setting.scss */
p {
  display: inline-block;
}

/* line 165, ../scss/_inc/_core/_general_setting.scss */
.size_s, .size_S {
  font-size: 11px !important;
}
/* line 167, ../scss/_inc/_core/_general_setting.scss */
.size_s *, .size_S * {
  font-size: 11px !important;
}

/* line 171, ../scss/_inc/_core/_general_setting.scss */
.size_m, .size_M {
  font-size: 13px !important;
}
/* line 173, ../scss/_inc/_core/_general_setting.scss */
.size_m *, .size_M * {
  font-size: 13px !important;
}

/* line 177, ../scss/_inc/_core/_general_setting.scss */
.size_l, .size_L {
  font-size: 14px !important;
}
/* line 179, ../scss/_inc/_core/_general_setting.scss */
.size_l *, .size_L * {
  font-size: 14px !important;
}

/* line 183, ../scss/_inc/_core/_general_setting.scss */
.size_ll, .size_LL {
  font-size: 16px !important;
}
/* line 185, ../scss/_inc/_core/_general_setting.scss */
.size_ll *, .size_LL * {
  font-size: 16px !important;
}

/* line 191, ../scss/_inc/_core/_general_setting.scss */
.font_gothic {
  font-family: "ヒラギノ角ゴ ProN W3", Helvetica, Arial, "Hiragino Kaku Gothic ProN", "モリサワ 新ゴ R", "Droid Sans", メイリオ, "sans-serif" !important;
  font-weight: bold;
}
/* line 194, ../scss/_inc/_core/_general_setting.scss */
.font_gothic * {
  font-family: "ヒラギノ角ゴ ProN W3", Helvetica, Arial, "Hiragino Kaku Gothic ProN", "モリサワ 新ゴ R", "Droid Sans", メイリオ, "sans-serif" !important;
  font-weight: bold;
}

/* line 199, ../scss/_inc/_core/_general_setting.scss */
.font_mincho {
  font-family: ReimYthzPro, "ヒラギノ明朝 Pro W6", "HiraMinPro-W6", "ＭＳ 明朝", "MS Mincho" !important;
  font-weight: normal !important;
}
/* line 202, ../scss/_inc/_core/_general_setting.scss */
.font_mincho * {
  font-family: ReimYthzPro, "ヒラギノ明朝 Pro W6", "HiraMinPro-W6", "ＭＳ 明朝", "MS Mincho" !important;
  font-weight: normal !important;
}

/* line 209, ../scss/_inc/_core/_general_setting.scss */
.center,
.ta_center {
  text-align: center !important;
}
/* line 212, ../scss/_inc/_core/_general_setting.scss */
.center *,
.ta_center * {
  text-align: center !important;
}

/* line 216, ../scss/_inc/_core/_general_setting.scss */
.right,
.ta_right {
  text-align: right !important;
}
/* line 219, ../scss/_inc/_core/_general_setting.scss */
.right *,
.ta_right * {
  text-align: right !important;
}

/* line 223, ../scss/_inc/_core/_general_setting.scss */
.left,
.ta_left {
  text-align: left !important;
}
/* line 226, ../scss/_inc/_core/_general_setting.scss */
.left *,
.ta_left * {
  text-align: left !important;
}

/* line 252, ../scss/_inc/_core/_general_setting.scss */
.display_none {
  display: none;
}

/* line 257, ../scss/_inc/_core/_general_setting.scss */
.disable {
  pointer-events: none;
}

/* line 270, ../scss/_inc/_core/_general_setting.scss */
.w320 {
  width: 320px;
  height: auto;
}

/* line 274, ../scss/_inc/_core/_general_setting.scss */
.w310 {
  width: 310px;
  height: auto;
}

/* line 278, ../scss/_inc/_core/_general_setting.scss */
.w300 {
  width: 300px;
  height: auto;
}

/* line 282, ../scss/_inc/_core/_general_setting.scss */
.w290 {
  width: 290px;
  height: auto;
}

/* line 286, ../scss/_inc/_core/_general_setting.scss */
.w280 {
  width: 280px;
  height: auto;
}

/* line 290, ../scss/_inc/_core/_general_setting.scss */
.w270 {
  width: 270px;
  height: auto;
}
/*--------------------
    ステージ設定
--------------------*/
/* line 5, ../scss/_inc/_parts/_stage.scss */
#stage {
  margin: 0px auto;
  width: 320px;
  padding-top: 40px;
  overflow: hidden;
}
/* line 11, ../scss/_inc/_parts/_stage.scss */
#stage #glayLayer {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
/*======================
    ＊　変数設定　＊
======================*/
/* line 20, ../scss/_inc/_core/_variable.scss */
.color_white {
  color: #ffffff !important;
}
/* line 22, ../scss/_inc/_core/_variable.scss */
.color_white * {
  color: #ffffff !important;
}

/* line 26, ../scss/_inc/_core/_variable.scss */
.color_black {
  color: #000000 !important;
}
/* line 28, ../scss/_inc/_core/_variable.scss */
.color_black * {
  color: #000000 !important;
}

/* line 32, ../scss/_inc/_core/_variable.scss */
.color_brown {
  color: #382200 !important;
}
/* line 34, ../scss/_inc/_core/_variable.scss */
.color_brown * {
  color: #382200 !important;
}

/* line 38, ../scss/_inc/_core/_variable.scss */
.color_orange {
  color: #eab31e !important;
}
/* line 40, ../scss/_inc/_core/_variable.scss */
.color_orange * {
  color: #eab31e !important;
}

/* line 44, ../scss/_inc/_core/_variable.scss */
.color_green {
  color: #009e8a !important;
}
/* line 46, ../scss/_inc/_core/_variable.scss */
.color_green * {
  color: #009e8a !important;
}

/* line 50, ../scss/_inc/_core/_variable.scss */
.color_red {
  color: #ed0707 !important;
}
/* line 52, ../scss/_inc/_core/_variable.scss */
.color_red * {
  color: #ed0707 !important;
}

/* line 56, ../scss/_inc/_core/_variable.scss */
.color_yellow {
  color: #fdef27 !important;
}
/* line 58, ../scss/_inc/_core/_variable.scss */
.color_yellow * {
  color: #fdef27 !important;
}

/* line 63, ../scss/_inc/_core/_variable.scss */
.text_gradation,
.color_gold {
  color: #ebd47f !important;
  text-shadow: 0 0 2px #021b22,0 0 2px #021b22,0 0 2px #021b22;
}
/* line 67, ../scss/_inc/_core/_variable.scss */
.text_gradation *,
.color_gold * {
  color: #ebd47f !important;
  text-shadow: 0 0 2px #021b22,0 0 2px #021b22,0 0 2px #021b22;
}

/* line 72, ../scss/_inc/_core/_variable.scss */
.color_silver {
  color: #aaa !important;
  text-shadow: 0 0 2px #021b22,0 0 2px #021b22,0 0 2px #021b22;
}
/* line 75, ../scss/_inc/_core/_variable.scss */
.color_silver * {
  color: #aaa !important;
  text-shadow: 0 0 2px #021b22,0 0 2px #021b22,0 0 2px #021b22;
}

/* line 83, ../scss/_inc/_core/_variable.scss */
.text_shadow_white {
  text-shadow: 0px 0px 0px #fff, 1px 0px 0px #fff, 0px 1px 0px #fff, -1px 0px 0px #fff, 0px -1px 0px #fff, 0px 0px 1px #fff, 1px 0px 1px #fff, 0px 1px 1px #fff, -1px 0px 1px #fff, 0px -1px 1px #fff, 0px 0px 2px #fff, 1px 0px 2px #fff, 0px 1px 2px #fff, -1px 0px 2px #fff, 0px -1px 2px #fff, 0px 0px 3px #fff, 1px 0px 3px #fff, 0px 1px 3px #fff, -1px 0px 3px #fff, 0px -1px 3px #fff;
}
/* line 112, ../scss/_inc/_core/_variable.scss */
.text_shadow_white * {
  text-shadow: 0px 0px 0px #fff, 1px 0px 0px #fff, 0px 1px 0px #fff, -1px 0px 0px #fff, 0px -1px 0px #fff, 0px 0px 1px #fff, 1px 0px 1px #fff, 0px 1px 1px #fff, -1px 0px 1px #fff, 0px -1px 1px #fff, 0px 0px 2px #fff, 1px 0px 2px #fff, 0px 1px 2px #fff, -1px 0px 2px #fff, 0px -1px 2px #fff, 0px 0px 3px #fff, 1px 0px 3px #fff, 0px 1px 3px #fff, -1px 0px 3px #fff, 0px -1px 3px #fff;
}

/* line 143, ../scss/_inc/_core/_variable.scss */
.text_shadow_black {
  text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.5), 0px 1px 1px rgba(0, 0, 0, 0.5), -1px 0px 1px rgba(0, 0, 0, 0.5), 0px -1px 1px rgba(0, 0, 0, 0.5);
}
/* line 149, ../scss/_inc/_core/_variable.scss */
.text_shadow_black * {
  text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.5), 0px 1px 1px rgba(0, 0, 0, 0.5), -1px 0px 1px rgba(0, 0, 0, 0.5), 0px -1px 1px rgba(0, 0, 0, 0.5);
}

/* ■　変数設定 ■----------------------------------------------------------- */
/*--------------------
    スゴリランチ
--------------------*/
/* line 21, ../scss/_inc/_layout/_lunch.scss */
body {
  background: #fff8e7 !important;
  width: 100%;
  min-height: 480px;
  color: #392d0c !important;
}

/* line 27, ../scss/_inc/_layout/_lunch.scss */
.header {
  width: 100%;
  height: 41px;
}
/* line 32, ../scss/_inc/_layout/_lunch.scss */
.header .lunch_header {
  width: 320px;
  margin: 0 auto;
}

/* line 37, ../scss/_inc/_layout/_lunch.scss */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 41px;
}
/* line 45, ../scss/_inc/_layout/_lunch.scss */
.footer .lunch_footer {
  width: 320px;
  margin: 0 auto;
}
/* line 48, ../scss/_inc/_layout/_lunch.scss */
.footer .lunch_footer .lunch_footer_top {
  display: inline-block;
  width: 157px;
  padding: 10px 20px;
  /* margin: 0 -3px; */
  background: url(../img/99_lunch/btn_003.png);
  background-size: 100% 100%;
}
/* line 56, ../scss/_inc/_layout/_lunch.scss */
.footer .lunch_footer .lunch_footer_order_list {
  display: inline-block;
  width: 157px;
  padding: 10px 20px;
  /* margin: 0 -3px; */
  background: url(../img/99_lunch/btn_003.png);
  background-size: 100% 100%;
}

/* line 67, ../scss/_inc/_layout/_lunch.scss */
.lunch .lunch_gorilla_logo {
  width: 320px;
  margin: 0 auto;
  padding: 120px 0 20px;
}
/* line 72, ../scss/_inc/_layout/_lunch.scss */
.lunch .lunch_title {
  width: 100%;
  padding: 10px 0 0;
  text-align: center;
  font-size: 14px;
}
/* line 79, ../scss/_inc/_layout/_lunch.scss */
.lunch .lunch_list_wrapper .lunch_menu_layout {
  position: relative;
  display: inline-block;
  width: 150px;
  margin: 10px 0;
  padding: 5px;
  background: url(../img/99_lunch/box_001.png);
  background-size: 100% 100%;
  text-align: left;
}
/* line 88, ../scss/_inc/_layout/_lunch.scss */
.lunch .lunch_list_wrapper .lunch_menu_layout .lunch_menu_image {
  width: 140px;
  height: 120px;
  margin: 0 auto;
  overflow: hidden;
}
/* line 94, ../scss/_inc/_layout/_lunch.scss */
.lunch .lunch_list_wrapper .lunch_menu_layout .lunch_menu_name {
  width: 100px;
  font-size: 12px;
}
/* line 98, ../scss/_inc/_layout/_lunch.scss */
.lunch .lunch_list_wrapper .lunch_menu_layout .order_button {
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 5px;
  background: url(../img/99_lunch/btn_001.png);
  background-size: 100% 100%;
  border-radius: 4px;
}
/* line 107, ../scss/_inc/_layout/_lunch.scss */
.lunch .lunch_list_wrapper .lunch_menu_layout .sold_out {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 140px;
  height: 110px;
  background: url(../img/99_lunch/logo_002.png);
  background-size: 100% 100%;
}
/* line 117, ../scss/_inc/_layout/_lunch.scss */
.lunch .lunch_list_wrapper .lunch_menu_layout2 {
  position: relative;
  display: inline-block;
  width: 300px;
  margin: 10px 0;
  padding: 5px;
  background: url(../img/99_lunch/box_005.png);
  background-size: 100% 100%;
  text-align: left;
}
/* line 126, ../scss/_inc/_layout/_lunch.scss */
.lunch .lunch_list_wrapper .lunch_menu_layout2 .lunch_menu_image {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 140px;
  height: 120px;
  margin: 0 auto;
  overflow: hidden;
}
/* line 135, ../scss/_inc/_layout/_lunch.scss */
.lunch .lunch_list_wrapper .lunch_menu_layout2 .order_button {
  position: absolute;
  bottom: 5px;
  right: 160px;
  padding: 5px;
  background: url(../img/99_lunch/btn_001.png);
  background-size: 100% 100%;
  border-radius: 4px;
}
/* line 144, ../scss/_inc/_layout/_lunch.scss */
.lunch .lunch_list_wrapper .lunch_menu_layout2.order_flag {
  min-height: 130px;
}
/* line 150, ../scss/_inc/_layout/_lunch.scss */
.lunch .lunch_box_wrapper .lunch_menu_layout {
  position: relative;
  display: inline-block;
  width: 300px;
  margin: 10px 5px;
  padding: 5px;
  background: url(../img/99_lunch/box_001.png);
  background-size: 100% 100%;
  text-align: left;
}
/* line 159, ../scss/_inc/_layout/_lunch.scss */
.lunch .lunch_box_wrapper .lunch_menu_layout .lunch_menu_image {
  width: 290px;
  height: 180px;
  margin: 0 auto;
  overflow: hidden;
}
/* line 165, ../scss/_inc/_layout/_lunch.scss */
.lunch .lunch_box_wrapper .lunch_menu_layout .sold_out {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 290px;
  height: 170px;
  background: url(../img/99_lunch/logo_002.png);
  background-size: 100% 100%;
}
/* line 175, ../scss/_inc/_layout/_lunch.scss */
.lunch .lunch_box_wrapper .lunch_menu_layout2 {
  position: relative;
  display: inline-block;
  width: 300px;
  margin: 10px 5px;
  padding: 5px;
  background: url(../img/99_lunch/box_004.png);
  background-size: 100% 100%;
  text-align: left;
}
/* line 184, ../scss/_inc/_layout/_lunch.scss */
.lunch .lunch_box_wrapper .lunch_menu_layout2 .lunch_menu_image {
  width: 290px;
  height: 180px;
  margin: 0 auto;
  overflow: hidden;
}

/* line 254, ../scss/_inc/_layout/_lunch.scss */
.buttonS,
.button_s {
  display: inline-block;
  width: 80px;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 4px;
}

/* line 262, ../scss/_inc/_layout/_lunch.scss */
.buttonM,
.button_m {
  display: inline-block;
  width: 140px;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 4px;
}

/* line 270, ../scss/_inc/_layout/_lunch.scss */
.buttonL,
.button_l {
  display: inline-block;
  width: 256px;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 4px;
}

/* line 278, ../scss/_inc/_layout/_lunch.scss */
.back_button {
  background: url(../img/99_lunch/btn_001.png);
  background-size: 100% 100%;
}

/* line 282, ../scss/_inc/_layout/_lunch.scss */
.next_button {
  background: url(../img/99_lunch/btn_004.png);
  background-size: 100% 100%;
}

/* line 286, ../scss/_inc/_layout/_lunch.scss */
.gray_button {
  background-color: #eaeaea;
}

/* line 289, ../scss/_inc/_layout/_lunch.scss */
.dark_gray_button {
  background-color: #d8d8d8;
}

/* line 292, ../scss/_inc/_layout/_lunch.scss */
.font_color_orange {
  color: #fe9150 !important;
}

/* line 295, ../scss/_inc/_layout/_lunch.scss */
.opacity {
  opacity: 0.3;
}

/* line 298, ../scss/_inc/_layout/_lunch.scss */
.text_layoutL,
.text_layout_l {
  position: relative;
  width: 270px;
  margin: 0 auto;
}
/* line 303, ../scss/_inc/_layout/_lunch.scss */
.text_layoutL .text_left,
.text_layout_l .text_left {
  position: absolute;
  bottom: 0;
  left: 0;
}
/* line 308, ../scss/_inc/_layout/_lunch.scss */
.text_layoutL .text_right,
.text_layout_l .text_right {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* line 314, ../scss/_inc/_layout/_lunch.scss */
.text_layoutM,
.text_layout_m {
  position: relative;
  width: 130px;
  margin: 0 auto;
}
/* line 319, ../scss/_inc/_layout/_lunch.scss */
.text_layoutM .text_left,
.text_layout_m .text_left {
  position: absolute;
  bottom: 0;
  left: 0;
}
/* line 324, ../scss/_inc/_layout/_lunch.scss */
.text_layoutM .text_right,
.text_layout_m .text_right {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* line 330, ../scss/_inc/_layout/_lunch.scss */
.text_layoutS,
.text_layout_s {
  position: relative;
  width: 100px;
  margin: 0 auto;
}
/* line 335, ../scss/_inc/_layout/_lunch.scss */
.text_layoutS .text_left,
.text_layout_s .text_left {
  position: absolute;
  bottom: 0;
  left: 0;
}
/* line 340, ../scss/_inc/_layout/_lunch.scss */
.text_layoutS .text_right,
.text_layout_s .text_right {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* line 346, ../scss/_inc/_layout/_lunch.scss */
.hr_line {
  margin: 0px auto;
  width: 270px;
  border-bottom: 1px solid #d86861;
}

/* line 351, ../scss/_inc/_layout/_lunch.scss */
.w290 {
  width: 290px !important;
}
