.form {
	margin-bottom: 20px;
}

.form p {
	text-align: left;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.form input[type="text"] {
	width: 300px;
	height: 20px;
}


.form input[type="password"] {
	width: 300px;
	height: 20px;
}

.form input[type="date"] {
	width: 150px;
	height: 20px;
}

.form input[type="time"] {
	width: 150px;
	height: 20px;
}

.hidden {
	display: none;
}

p.error {
	font-size: 12px;
	font-weight: normal;
	color: red;
	margin-top: 5px;
}