<div id="managementContents">
	<div id="main">
		<h2>料金追加</h2>
	    <div id="studioRegistForm">
	        <form class="management_form" action="/studio/regist/execute" method="POST" name="studioRegist">
				<h5>■曜日</h5>
			<select name="youbi">
				<option value="heijitu">平日</option>
				<option value="kyujitu">休日</option>
				<option value="syukujitu">祝日</option>
				<option value="kyusyukujitu">休日・祝日</option>
				<option value="monday">月曜</option>
				<option value="tuesday">火曜</option>
				<option value="wednesday">水曜</option>
				<option value="thursday">木曜</option>
				<option value="friday">金曜</option>
				<option value="saturday">土曜</option>
				<option value="sunday">日曜</option>
			</select>

						<div id="prices">
				<h4>料金1</h4>
				<h5>■曜日</h5>
				<select name="youbi">
					<option value="heijitu">平日</option>
					<option value="kyujitu">休日</option>
					<option value="syukujitu">祝日</option>
					<option value="kyusyukujitu">休日・祝日</option>
					<option value="monday">月曜</option>
					<option value="tuesday">火曜</option>
					<option value="wednesday">水曜</option>
					<option value="thursday">木曜</option>
					<option value="friday">金曜</option>
					<option value="saturday">土曜</option>
					<option value="sunday">日曜</option>
				</select>

				<h5>■時間帯</h5>
				<select name="since_hour">
				  <option value="00">00</option>
				  <option value="01">01</option>
				  <option value="02">02</option>
				  <option value="03">03</option>
				  <option value="04">04</option>
				  <option value="05">05</option>
				  <option value="06">06</option>
				  <option value="07">07</option>
				  <option value="08">08</option>
				  <option value="09">09</option>
				  <option value="10">10</option>
				  <option value="11">11</option>
				  <option value="12">12</option>
				  <option value="13">13</option>
				  <option value="14">14</option>
				  <option value="15">15</option>
				  <option value="16">16</option>
				  <option value="17">17</option>
				  <option value="18">18</option>
				  <option value="19">19</option>
				  <option value="20">20</option>
				  <option value="21">21</option>
				  <option value="22">22</option>
				  <option value="23">23</option>
				</select>

				<select name="since_minutes">
				  <option value="00">00</option>
				  <option value="05">05</option>
				  <option value="10">10</option>
				  <option value="15">15</option>
				  <option value="20">20</option>
				  <option value="25">25</option>
				  <option value="30">30</option>
				  <option value="35">35</option>
				  <option value="40">40</option>
				  <option value="45">45</option>
				  <option value="50">50</option>
				  <option value="55">55</option>
				</select>

				〜

				<select name="from_hour">
				  <option value="00">00</option>
				  <option value="01">01</option>
				  <option value="02">02</option>
				  <option value="03">03</option>
				  <option value="04">04</option>
				  <option value="05">05</option>
				  <option value="06">06</option>
				  <option value="07">07</option>
				  <option value="08">08</option>
				  <option value="09">09</option>
				  <option value="10">10</option>
				  <option value="11">11</option>
				  <option value="12">12</option>
				  <option value="13">13</option>
				  <option value="14">14</option>
				  <option value="15">15</option>
				  <option value="16">16</option>
				  <option value="17">17</option>
				  <option value="18">18</option>
				  <option value="19">19</option>
				  <option value="20">20</option>
				  <option value="21">21</option>
				  <option value="22">22</option>
				  <option value="23">23</option>
				</select>

				<select name="from_minutes">
				  <option value="00">00</option>
				  <option value="05">05</option>
				  <option value="10">10</option>
				  <option value="15">15</option>
				  <option value="20">20</option>
				  <option value="25">25</option>
				  <option value="30">30</option>
				  <option value="35">35</option>
				  <option value="40">40</option>
				  <option value="45">45</option>
				  <option value="50">50</option>
				  <option value="55">55</option>
				</select>

				<h5>■単位時間</h5>
				<select name="unit_time">
					<option value="10minutes">10分</option>
					<option value="15minutes">15分</option>
					<option value="30minutes">30分</option>
					<option value="1hour" selected="">1時間</option>
					<option value="pack">パック</option>
				</select>
				<h5>■料金</h5>
				<input type="text" name="price" value=""></input>
			</div>
			</form>
		    <!-- キャンセルボタン -->
		    <a class="remodal-cancel" href="/studio" data-remodal-action="cancel">戻る</a>
		    <!-- OKボタン -->
		    <a href="javascript:void(0)"  class="remodal-confirm"   style="display:inline-block">OK</a>
		</div>
	</div>
</div>