<!DOCTYPE html>
<html>
  <head>
    <title>スタジオ管理システム</title>
    <% include common_head_directive %>
    <% include common_settings %>
  </head>
  <body>
    <% include common_header %>
    <%- body %>
    <% include common_footer %>
  </body>
</html>
