<!DOCTYPE html>
<html>
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <!-- Facebook OGP -->
  <meta property="og:title" content="スタジオ管理システム" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="../../public/img/03_ogp/kanri.space.ogp01.png" />
  <!-- Twitter card -->
  <meta name="twitter:card" content="summary">
    <title>スタジオ管理システム</title>
    <% include common_head_directive %>
    <% include common_settings %>
  </head>
  <body>
    <% include common_header %>
    <%- body %>
    <% include common_footer %>
  </body>
</html>
