<!DOCTYPE html>
<html>
  <head>
    <title>VintomStudio</title>
    <% include common_head_directive %>
  </head>
  <body>
    <% include common_header %>
    <%- body %>
    <% include common_footer %>
  </body>
</html>
