 <!-- matadata -->
<meta charset="utf-8">
<meta name="author" content="pixelhint.com">
<meta name="description" content=""/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- css -->
<link rel="stylesheet" type="text/css" href="../css/header.css">
<link rel="stylesheet" type="text/css" href="../css/reset.css">
<link rel="stylesheet" type="text/css" href="../css/responsive.css">
<link rel="stylesheet" type="text/css" href="../css/remodal.css">
<link rel="stylesheet" type="text/css" href="../css/remodal-default-theme.css">
<link rel="stylesheet" type="text/css" href="../css/modal.css">
<link rel="stylesheet" type="text/css" href="../css/fullcalendar.min.css">
<link rel="stylesheet" type="text/css" href="../css/calendar.css">
<link rel="stylesheet" type="text/css" href="../css/management.css">
<link rel="stylesheet" type="text/css" href="../css/default.css">
<link rel="stylesheet" type="text/css" href="../css/studio.css">
<link rel="shortcut icon" href="../img/favicon.ico" />

<!-- js -->
<script type="text/javascript" src="../js/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="../js/jquery-ui.custom.min.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/moment.min.js"></script>
<script type="text/javascript" src="../js/remodal_callback.js"></script>
<script type="text/javascript" src="../js/remodal.min.js"></script>
<script type="text/javascript" src="../js/fullcalendar.min.js"></script>
<!-- <script type="text/javascript" src="../js/calendar.js"></script> -->
<script type="text/javascript" src="../js/ja.js"></script>
<script type="text/javascript" src="../js/management.js"></script>
<script type="text/javascript">
	// 市町村検索 初期設定
	var area_pref = $('#area_pref'); //都道府県が入るselect
	var area_city = $('#area_city'); //市町村が入るselect
	//最初に都道府県を読み込む
	$.getJSON('http://search.olp.yahooapis.jp/OpenLocalPlatform/V1/addressDirectory?callback=?',{
	    	appid: 'dj0zaiZpPThaTVBGMWV4MVc2SyZzPWNvbnN1bWVyc2VjcmV0Jng9ZjU-',
	    	ac: 'JP',
	    	output: 'json'
	    },
	    function(json){
	        $("#area_pref").children().not(':first').remove();//一つ目のoption(選択してください）のみ残して削除
	        $.each(json.Feature[0].Property.AddressDirectory,function(key,value){
	            var txt = String(this.Name);
	            var code = String(this.AreaCode);
	            $("#area_pref").append('<option value="'+code+'">'+txt+"</option>");
	        });
		}
	);
	$(function($) {
		//都道府県から市町村を検索
		$("#area_pref").on('change',function(){
		    $.getJSON('http://search.olp.yahooapis.jp/OpenLocalPlatform/V1/addressDirectory?callback=?',{
			    	appid: 'dj0zaiZpPThaTVBGMWV4MVc2SyZzPWNvbnN1bWVyc2VjcmV0Jng9ZjU-',
			    	ac: $("#area_pref").val(),
			    	output: 'json'
			    },
			    function(json){
			        area_city.children().not(':first').remove();//一つ目のoption(選択してください）のみ残して削除
			        $.each(json.Feature[0].Property.AddressDirectory,function(key,value){
			            var txt = String(this.Name);
			            $("#area_city").append('<option value="'+txt+'">'+txt+"</option>");
			        });
			    }
		    );
		});
	});

</script>