<header>
	<div class="wrapper">
		<a href="/"><img src="../img/02_ui/logo.png" class="logo" alt="" titl=""/></a>
		<% if (studio) { %>
			<a href="#" class="hamburger"></a>
			<nav class="responsive">
				<ul>
					<li>
						<span class="icon calendar">
	                		<a class="header_menu" href="/calendar">予約カレンダー</a>
	                	</span>
					</li>
					<!-- <li class="icon search" id="search"><a href="javascript:void(0)">予約検索</a></li> -->
					<li class="menu_compact menu__single">
						<span class="icon studio">
	                		<a class="header_menu" href="#">管理</a>
	                	</span>
						
						<ul class="menu__second-level">
	            			<li><a href="/studio">店舗管理</a></li>
	            			<li><a href="/studio_area">スタジオ管理</a></li>
	            			<li><a href="#">備品管理</a></li>
	        			</ul>
					</li>
					<li class="menu_spread"><a href="/studio">店舗管理</a></li>
	            	<li class="menu_spread"><a href="/studioArea">スタジオ管理</a></li>
	            	<li class="menu_spread"><a href="#">備品管理</a></li>
	                <li class="menu_compact menu__single">
	                	<span class="icon user">
	                		<a class="header_menu" href="#"><%= studio.name %>
	                	</span>
	                    <ul class="menu__second-level">
	                        <li><a href="/studio/manage">ユーザー管理</a></li>
	                        <li><a href="#logout">ログアウト</a></li>
	                    </ul>
	                </li>
	                <li class="menu_spread"><a href="/studio/manage">ユーザー管理</a></li>
	            	<li class="menu_spread"><a href="#logout">ログアウト</a></li>
				</ul>
			</nav>
		<% } else { %>
			<nav c>
				<a id="login" href="javascript:void(0)" class="login_btn">Login</a>
			</nav>
		<% } %>
	</div>
</header>
<div class="remodal" data-remodal-id="logout" id="modal-area">
    <form action="/logout" method="GET" name="logout" accept-charset="utf-8">
		<!-- モーダルのタイトル -->
    	<h2>ログアウトしますか？</h2>
		<!-- キャンセルボタン -->
		<a class="remodal-cancel" href="#" data-remodal-action="cancel">Cancel</a>
		<!-- OKボタン -->
        <a href="javascript:void(0)" onclick="document.logout.submit();return false;" class="remodal-confirm" data-remodal-action="confirm" style="display:inline-block">OK</a>
	</form>
</div>

<div class="remodal" data-remodal-id="login">
    <form action="/auth/confirm" method="POST" name="form" accept-charset="utf-8">
		<!-- モーダルのタイトル -->
		<h2>ログイン</h2>
		<div id="form">
	    	<p>ID</p>
	    	<input type="text" name="id">
	    	<p>PASSWORD</p>
	    	<input type="password" size="50" maxlength="12" name="passward">
		</div>
		<!-- キャンセルボタン -->
		<a class="remodal-cancel" href="#" data-remodal-action="cancel">Cancel</a>
		<!-- OKボタン -->
        <a href="javascript:void(0)" onclick="document.form.submit();return false;" class="remodal-confirm" data-remodal-action="confirm" style="display:inline-block">OK</a>
	</form>
</div>
<script>
	// modalが残ってる可能性があるので、初期表示でモーダルを閉じる
	//$('[data-remodal-id=login]').remodal().close();
   	$("#login").on("click", function() {
   		$('[data-remodal-id=login]').remodal().open();
   	});

	// modalが残ってる可能性があるので、初期表示でモーダルを閉じる
	// $('[data-remodal-id=search]').remodal().close();

	$('.hamburger').on('click', function(e){
		e.preventDefault();
		$(this).toggleClass('opned');
		$('header nav').toggleClass('active');
		
	});

	$("#search").on("click", function() {
   		$('[data-remodal-id=search]').remodal().open();
   	});   	
</script>